<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <header></header>
    <h1>Página de Inicio</h1>
    <% if (login) { %>
    <h1>El usuario conectado es: <strong> <%= name %></strong> </h1>
    <div class="gatitos-log"><img src="resources/image/gatito1.png" alt="gatitocorazon"></div>
    <div> <a href="logout" class="a-logout">Logout</a></div>
    <%} else{ %>
        <h1><strong><%= name %></strong></h1>
        <div class="gatitos-log"><img src="resources/image/gatito2.png" alt="gatitocorazon"></div>
        <div><a href="login" class="a-login">Ir al LOGIN</a></div>
<% } %>
</body>
</html>